header {
  width: 100vw;
  height: 150px;
  padding: 0px 50px;
}

.container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
}

.box {
  height: 70%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
  color: rgb(85, 84, 84);
}

.one {
  width: 170px;
}

.two {
  width: 70%;
  gap: 40px;
}

.three {
  width: 170px;
}

.ENG {
  color: rgb(204, 202, 202);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
